/**
 * ----------------------------------------
 * animation rotate-center
 * ----------------------------------------
 */
 @-webkit-keyframes rotate-center {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
@keyframes rotate-center {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
}
  
/* Custom styles */
.fa-spinner {
    font-size: 8em;
    -webkit-animation: rotate-center 2s linear infinite both;
	        animation: rotate-center 2s linear infinite both;
}

input[type="radio"] {
  position: relative;
}

.transfer__spinner {
  font-size: 3rem;
}

.account__card,
.loan__card {
  position: relative;
  border-radius: 12px;
  box-shadow: 0 14px 20px -10px rgb(0 0 0 / 62%);
  min-height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.account__card.selected {
  background-color: #003882;
  color: #fff;
}

.account__card.account__card--saving.selected {
  background-color: #003882;
}

.account__card.account__card--current.selected {
  background-color: #FF7900;
}

.account__info {
  font-size: 1em;
}

.account__background-image {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
}

.account__card.selected .account__info,
.account__card.selected .account__amount {
  color: #fff;
}

.account-detail__card {
  border-radius: 12px;
}

.account-detail__icon--amount {
  font-size: 3em;
  color: #003882;
}

.loan__card.selected {
  border-bottom: solid 4px #003882;
}

.loan__amount {
  font-size: 2rem;
  color: #179F47;
}

.transaction-modal__show {
  display: block;
}

.transaction-modal__icon {
  font-size: 6rem;
}