<div class="loan__card p-3 mb-4"
    ng-class="[ { 'selected': $ctrl.loan.id === $ctrl.loanIdSelected } ]"
    ng-click="onSelectLoan()">
    <div class="row">
        <div class="col-md-12">
            {{ $ctrl.loan.maskedNumber }}
        </div>
        <div class="col-md-12">
            Fecha de pago: {{ $ctrl.loan.dueDate | date: 'EEE, dd LLLL yyyy' }}
        </div>

    </div>
    <div class="row justify-content-end">
        <div class="col-md-12">
            <h3 class="loan__amount">{{ $ctrl.loan.balance.monthly | currency }}</h3>
        </div>
    </div>
    <div class="row justify-content-end"
        ng-if="$ctrl.loan.id === $ctrl.loanIdSelected">
        <div class="col-md-12">
            <a href="#!/loan/{{$ctrl.loan.id}}" class="list-group-item list-group-item-action p-2">Ver detalle</a>
        </div>
    </div>
</div>