<div class="modal transaction-modal__show"
    ng-if="$ctrl.showModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    {{ $ctrl.title ? $ctrl.title : 'Transacción estatus' }}
                </h5>
                <button type="button"
                    class="btn-close"
                    ng-click="$ctrl.showModal = false"></button>
            </div>
            <div class="modal-body">
                <div class="row justify-content-center"
                    ng-if="$ctrl.icon">
                    <div class="col-md-auto">
                        <i class="fas transaction-modal__icon"
                            ng-class="[$ctrl.icon, $ctrl.iconStyle]"></i>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-10 text-center">
                        {{ $ctrl.message ? $ctrl.message : 'Se ejecutó la transacción de forma satisfactoria' }}
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button"
                    class="btn btn-primary"
                    ng-click="$ctrl.showModal = false">
                    Aceptar
                </button>
            </div>
        </div>
    </div>
</div>