<!DOCTYPE html>
<html lang="es" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Banca Personal</title>
    <!-- Inicia CSS -->
    <link rel="stylesheet" href="resources/bootstrap/css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="resources/fontawesome/css/all.css" type="text/css">
    <link rel="stylesheet" href="css/main.css" type="text/css">
    <link rel="stylesheet" href="css/custom.css" type="text/css">
    <!-- Inicia javascript externos -->
    <!-- <script src="resources/angular/angular.js" type="text/javascript"></script> -->
    <script src="resources/angular-route/angular-route.js" type="text/javascript"></script>
    <!-- Inicia modulos de angular -->
    <script src="js/app.module.js"></script>
    <script src="js/app.properties.js"></script>
    <script src="js/app.config.js"></script>
    <script src="core/core.module.js"></script>
    <script src="core/accounts/accounts.service.js"></script>
    <script src="core/loans/loans.service.js"></script>
    <script src="core/beneficiaries/beneficiaries.service.js"></script>
    <script src="core/transfer/transfer.service.js"></script>
    <script src="home/home.module.js"></script>
    <script src="home/home.controller.js"></script>
    <script src="home/account/account.component.js"></script>
    <script src="home/loan/loan.component.js"></script>
    <script src="transaction-modal/transaction-modal.component.js"></script>
    <script src="account-detail/account-detail.module.js"></script>
    <script src="account-detail/account-detail.controller.js"></script>
    <script src="account-detail/transfer/transfer.module.js"></script>
    <script src="account-detail/transfer/transfer.controller.js"></script>
    <script src="loan-detail/loan-detail.module.js"></script>
    <script src="loan-detail/loan-detail.controller.js"></script>
</head>

<body ng-app="App">
    <header class="bg-head-ux">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-auto">
                    <div class="bg-logo-container">
                        <a href="index.html"><img class="bg-logo" src="img/logo-bg@2x.png"></a>
                    </div>
                </div>
                <div class="col-md-auto">
                    <h3 class="ux-title">| {{ 'Banca persona' }}</h3>
                </div>
            </div>
        </div>
    </header>

    <section class="container mt-5">
        <div ng-view></div>
    </section>
</body>

</html>