<section>

    <div class="row justify-content-center justify-content-md-center justify-content-sm-center">

        <div class="col-md-12">
            <h2>Cuentas</h2>
            <hr />
        </div>

        <div class="col-md-auto" ng-if="isLoadingAccounts">
            <i class="fas fa-spinner"></i>
        </div>
        <div class="col-md-12" ng-if="!isLoadingAccounts">
            <div class="row justify-content-center">
                <div class="col-md-3" ng-repeat="account in accounts | limitTo: 4">
                    <account-component account="account"
                        on-select-account="onSelectAccount(accountSelectedFromComponent)"
                        account-id-selected="accountSelected.id"></account-component>
                </div>
            </div>
        </div>

    </div>

    <div class="row justify-content-center justify-content-md-center justify-content-sm-center">

        <div class="col-md-12">
            <h2>Préstamos</h2>
            <hr />
        </div>

        <div class="col-md-auto" ng-if="isLoadingLoans">
            <i class="fas fa-spinner"></i>
        </div>
        <div class="col-md-12" ng-if="!isLoadingLoans">
            <div class="row justify-content-center">
                <div class="col-md-3" ng-repeat="loan in loans | limitTo: 3">
                    <loan-component loan="loan"
                        on-select-loan="onSelectAccount(loanSelected)"
                        loan-id-selected="accountSelected.id"></loan-component>
                </div>
            </div>
        </div>

    </div>

</section>