<div class="row">

    <div class="col-md-12">
        <h2>Cuenta: {{ accountId }}</h2>
        <hr />
    </div>

</div>

<section>
    <div class="row justify-content-center">
        <div class="col-md-auto" ng-if="isLoadingAccount">
            <i class="fas fa-spinner"></i>
        </div>
    </div>
    <div class="card account-detail__card p-4" ng-if="!isLoadingAccount">

        <div class="row justify-content-between align-items-center">
            <div class="col-md-4 text-start">
                <i class="fas fa-hand-holding-usd account-detail__icon--amount"></i>
            </div>
            <div class="col-md-8 text-end">
                <h3>{{ account.balance.available | currency: account.currency }}</h3>
            </div>
        </div>
        <hr />
    </div>
    <div class="card account-detail__card p-4 mt-2">

        <div class="row">
            <div class="col-md-6">
                <h3>Beneficiarios</h3>
            </div>
        </div>
        <div class="row align-items-end">
            <div class="col-md-3">
                <div class="input-group">
                    <strong>Buscar:</strong>
                    <input type="text" class="form-control" placeholder="Buscar beneficiario..." name="name" ng-model="name">
                </div>
            </div>
            <div class="col-md-3 offset-md-6 text-end">
                <div class="input-group">
                    <strong>Monto:</strong>
                    <input type="text" class="form-control text-end" placeholder="0.00" name="amount" ng-model="amount">
                </div>
            </div>
        </div>
        <hr />
        <div class="row" ng-if="isLoadingBeneficiaries">
            <div class="col-md-12 text-center">
                <i class="fas fa-spinner"></i>
            </div>
        </div>
        <div ng-if="!isLoadingBeneficiaries">
            <div class="row justify-content-between align-items-center"
                ng-repeat="beneficiary in beneficiaries | filter:name">
                <div class="col-md-auto">
                    <i class="fas fa-portrait"></i>
                </div>
                <div class="col-md-2">
                    <strong>Nombre:</strong> <br />
                    {{ beneficiary.name }}
                </div>
                <div class="col-md-2">
                    <strong>Cuenta:</strong> <br />
                    {{ beneficiary.account.maskedNumber }} <br />
                    <strong>Tipo:</strong> <br />
                    {{ beneficiary.account.type }}
                </div>
                <div class="col-md-2">
                    <strong>Banco:</strong> <br />
                    {{ beneficiary.account.bank.name }}
                </div>
                <div class="col-md-auto text-center" ng-if="isLoadingTransaction[$index]">
                    <i class="fas fa-spinner transfer__spinner me-5"></i>
                </div>
                <div class="col-md-auto" ng-if="!isLoadingTransaction[$index]">
                    <button class="btn btn-default"
                        ng-click="transaction(beneficiary, $index)"
                        ng-disabled="amount === '0.00' || itOneTransactionExecuting()">Transferir</button>
                </div>
                <div class="col-md-12">
                    <hr />
                </div>
            </div>
        </div>
    </div>

</section>

<transaction-modal-component show-modal="showTransactionAlert"
    icon="iconName"
    icon-style="iconStyle"
    message="transactionMessage"></transaction-modal-component>