<div class="account__card p-3 mb-4"
    ng-class="[{ 'selected': $ctrl.account.id === $ctrl.accountIdSelected }, 'account__card--' + $ctrl.account.type]"
    ng-click="$ctrl.onSelectAccount(selectAccount())">
    <img src="img/img-cardeffect.png"
        class="account__background-image"
        alt="card-background" />
    <div class="row">
        <div class="col-md-12">
            <p class="m-0 account__info">{{ $ctrl.account.type }}</p>
        </div>
        <div class="col-md-12">
            <p class="m-0 account__info">{{ $ctrl.account.maskedNumber }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3 class="account__amount">{{ $ctrl.account.balance.available | currency }}</h3>
        </div>
    </div>
    <div class="row justify-content-end"
        ng-if="$ctrl.account.id === $ctrl.accountIdSelected">
        <div class="col-md-12">
            <a href="#!/account" class="list-group-item list-group-item-action p-2">Ver detalle</a>
            <a href="#!/transfer/{{$ctrl.account.id}}" class="list-group-item list-group-item-action p-2">Transferir</a>
        </div>
    </div>
</div>