<div class="row">

    <div class="col-md-12">
        <h2>Cuenta: {{ accountId }}</h2>
        <hr />
    </div>

</div>

<section>
    <div class="row justify-content-center">
        <div class="col-md-auto"
            ng-if="isLoadingAccount">
            <i class="fas fa-spinner"></i>
        </div>
    </div>
    <div class="card account-detail__card p-4"
        ng-if="!isLoadingAccount">

        <div class="row justify-content-between align-items-center">
            <div class="col-md-4 text-start">
                <i class="fas fa-hand-holding-usd account-detail__icon--amount"></i>
            </div>
            <div class="col-md-8 text-end">
                <h3>{{ account.balance.available | currency: account.currency }}</h3>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-12">
                <strong>Número enmascarado:</strong> {{ account.maskedNumber }}
            </div>
            <div class="col-md-12">
                <strong>Tipo:</strong> {{ account.type }}
            </div>
            <div class="col-md-12">
                <strong>Fecha de apertura:</strong> {{ account.openDate | date: 'EEE, dd LLLL yyyy' }}
            </div>
        </div>

    </div>

</section>